.platform-choose {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

.platform-choose button{
    background: none;
    cursor: pointer;
    transform: translateX(1rem);
    transition: transform 0.2s ease-in-out;
    border: none;
    outline: none;
}

.platform-button-yt:focus, .platform-button-yt:hover{
    background-color: #ffd2cf;
}

.platform-button-tw:focus, .platform-button-tw:hover{
    background-color: #cff2ff;
}

.platform-button-ig:focus, .platform-button-ig:hover{
    background-color: #efcfff;
}

